.vspace-top-small {
    margin-top: 13px;
}

.vspace-top-middle {
    margin-top: 29px;
}

.control-text {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 7px;
}

.w-1em {
    width: 1em;
}

.w-2em {
    width: 2em;
}

.w-3em {
    width: 3em;
}

.w-6em {
    width: 6em;
}

.inline-block {
    display: inline-block;
}
