{% extends 'layout.html' %}
{% block content %}
<div class=row>
    <div class=col-sm-5>
        <div class="github-card" data-github="Answeror/torabot" data-width="400" data-height="153"></div>
        <script src="http://lab.lepture.com/github-cards/widget.js"></script>
    </div>
    <div class=col-sm-7>
        <p>项目主页: <a href='http://proj.rss.moe' target=_blank>proj.rss.moe</a></p>
        <p>您可以在项目主页上找到一些更新姬的高级调教方法, 比如订阅任意网页的更新, 订阅课程成绩表(前提是学校的教务系统有公网入口), 订阅论坛私信, 甚至自动签到什么的... 这部分会陆续添加上去(其实从<a href='https://github.com/Answeror/torabot/releases/tag/0.4.4' target=_blank>0.4.4</a>版开始已经有了, 但是接口没有固定下来<del>只是因为懒</del>所以没有写文档), 有兴趣的可以关注<a href='https://gist.github.com/Answeror' target=_blank>我的gist</a>, 或者直接邮件联系我.
        <p>您也可以通过在Github<a href='https://github.com/Answeror/torabot/issues' target=_blank>提交issue</a>来申请加入新的模块或功能.</p>
        <p>相关讨论: <a href='http://www.v2ex.com/t/110788' target=_blank>v2ex</a> (偏技术), <a href='http://bgm.tv/group/topic/32268' target=_blank>bangumi</a> (偏内容)</p>
        <p>联系方式: answeror [at] g[no spam please]mail [dot] com
    </div>
</div>
{% endblock %}
