{% extends 'layout.html' %}
{% block content %}
<div class=row>
    <div class=col-sm-5>
        <div class="github-card" data-github="Answeror/torabot" data-width="400" data-height="153"></div>
        <script src="http://lab.lepture.com/github-cards/widget.js"></script>
    </div>
    <div class=col-sm-7>
        <p>您可以通过在Github<a href='https://github.com/Answeror/torabot/issues' target=_blank>提交issue</a>来申请加入新的模块或功能.</p>
        <p>相关讨论: <a href='http://www.v2ex.com/t/110788' target=_blank>v2ex</a></p>
        <p>联系方式: answeror [at] g[no spam please]mail [dot] com
    </div>
</div>
{% endblock %}
