{% import 'macros.html' as macros with context %}
<!DOCTYPE html>
<html lang='zh-CN'>
    <head>
        {% block head %}
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <title>{% block title %}torabot{% endblock %}</title>
        {{ macros.bootstrap_css() }}
        <link rel='stylesheet' href='{{ url_for("main.static", filename="dist/style.css") }}'>
        {{ macros.jquery_js() }}
        <script>
            $(function(){
                seajs.config({
                    base: '{{ url_for("main.static", filename="sea-modules") }}',
                    paths: {
                        'main': 'torabot/main/0.1.0',
                        'yandere': 'torabot/yandere/0.1.0'
                    },
                    alias: {
                        'yandere': 'yandere/yandere',
                        'yandere-debug': 'yandere/yandere-debug'
                    }
                }).use('main/init{% if debug %}-debug{% endif %}', function(m){
                    m.init({
                        mods: [{
                            name: 'yandere{% if debug %}-debug{% endif %}',
                            options: {
                                source: ({% include 'tags.json' %}).data
                            }
                        }]
                    });
                });
                {% if intro and not snapshot %}
                seajs.use('main/intro{% if debug %}-debug{% endif %}', function(m){
                    m.init({
                        pixiv_search_options_uri: '{{ url_for("main.advanced_search", kind="pixiv", method="ranking") }}',
                        pixiv_search_result_uri: '{{ url_for("main.search", kind="pixiv", method="ranking", mode="daily", limit=10)|safe }}'
                    });
                });
                {% endif %}
            });
        </script>
        {% endblock %}
    </head>
    <body class='yue torabot{% if snapshot %} snapshot{% endif %}'>
        {% block body %}{% endblock %}
    </body>
    <foot>
        {% block foot %}
        {{ macros.google_js() }}
        {{ macros.bootstrap_js() }}
        <script src='{{ url_for("main.static", filename="sea-modules/seajs/seajs/2.2.1/sea.js") }}'></script>
        {% endblock %}
    </foot>
</html>
