{% import 'macros.html' as macros with context %}
<!DOCTYPE html>
<html lang='zh-CN'>
    <head>
        {% block head %}
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <title>{% block title %}torabot{% endblock %}</title>
        {{ macros.bootstrap_css() }}
        {{ macros.switch_css() }}
        <link rel='stylesheet' href='{{ url_for("main.static", filename="dist/style.css") }}'>
        {{ macros.jquery_js() }}
        {% endblock %}
    </head>
    <body {% if snapshot %}class=snapshot{% endif %} class='yue torabot'>
        {% block body %}{% endblock %}
    </body>
    <foot>
        {% block foot %}
        {{ macros.google_js() }}
        {{ macros.bootstrap_js() }}
        {{ macros.moment_js() }}
        {{ macros.pnotify_js() }}
        {{ macros.switch_js() }}
        <script src='{{ url_for("main.static", filename="sea-modules/seajs/seajs/2.2.1/sea.js") }}'></script>
        <script src='{{ url_for("main.static", filename="dist/init-debug.js") }}'></script>
        <script>
            seajs.use('torabot/main/0.1.0/init-debug');
        </script>
        {% endblock %}
    </foot>
</html>
