<style>
    .carousel {
        height: 500px;
        margin-bottom: 30px;
    }
    /* Since positioning the image, we need to help out the caption */
    .carousel-caption {
        z-index: 10;
    }
    .carousel-caption h1:first-letter {
        text-transform: uppercase;
    }
    .carousel-inner {
        -webkit-box-shadow: 0 0 1em hsla(0, 0%, 0%, 1.0);
        -moz-box-shadow: 0 0 1em hsla(0, 0%, 0%, 1.0);
        box-shadow: 0 0 1em hsla(0, 0%, 0%, 1.0);
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }
    /* Declare heights because of positioning of img element */
    .carousel .item {
        height: 500px;
    }
    .carousel .snapshot-wrap {
        position: relative;
        width: 100%;
        height: 425px;
        overflow: hidden;
    }
    .carousel .snapshot {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
    }
    .carousel .snapshot img {
        width: 100%;
        border-radius: 11px;
    }
    .carousel .snapshot::before {
        content: ' ';
        position: absolute;
        top: 0;
        bottom: 50%;
        left: 0;
        right: 0;
        background: -moz-linear-gradient(top, rgba(0,0,0,0.3) 0%, rgba(0,0,0,.7) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.3)), color-stop(100%,rgba(0,0,0,.7)));
        background: linear-gradient(top, rgba(0,0,0,0.3) 0%,rgba(0,0,0,.7) 100%);
    }
    .carousel .snapshot::after {
        content: ' ';
        position: absolute;
        top: 50%;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,.8);
    }
</style>
<div id=mod-carousel class='carousel slide' data-ride=carousel>
    <ol class=carousel-indicators>
        {% for mod in mods %}
        <li data-target=#mod-carousel data-slide-to={{ loop.index0 }}{% if loop.first %} class=active{% endif %}></li>
        {% endfor %}
    </ol>
    <div class=carousel-inner>
        {% for mod in mods %}
        <div class="item{% if loop.first %} active{% endif %}">
            <div class=snapshot-wrap>
                <div class=snapshot>
                    {% if mod.carousel %}
                    <img src='{{ url_for(".static", filename="images/%s.jpg" % mod.name) }}'>
                    {% endif %}
                </div>
                <div class=carousel-caption>
                    <h1>{{ mod.display_name }}</h1>
                    <p class=lead>{{ mod.description }}</p>
                    {% if not is_user %}
                    <p>
                        <a class='btn btn-lg btn-primary' href='{{ url_for("main.signup") }}'>现在注册</a>
                    </p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <a class='left carousel-control' href=#mod-carousel data-slide=prev></a>
    <a class='right carousel-control' href=#mod-carousel data-slide=next></a>
</div>
