{% import 'macros.html' as macros with context %}
{% extends 'base.html' %}
{% block body %}
{% include 'nav.html' %}
<div id=mod-carousel class='carousel slide' data-ride=carousel>
    <ol class=carousel-indicators>
        {% for mod in mods %}
        <li data-target=#mod-carousel data-slide-to={{ loop.index0 }}{% if loop.first %} class=active{% endif %}></li>
        {% endfor %}
    </ol>
    <div class=carousel-inner>
        {% for mod in mods %}
        <div class="item{% if loop.first %} active{% endif %}">
            <div class=container>
                <div class=snapshot>
                    {% if mod.name == 'pixiv' %}
                    <iframe frameborder=0 src='{{ url_for("main.example_search", kind="pixiv", method="ranking", mode="daily", limit=10) }}'></iframe>
                    {% elif mod.name == 'tora' %}
                    <iframe frameborder=0 src='{{ url_for("main.example_search", kind="tora", q="tony") }}'></iframe>
                    {% elif mod.name == 'yyets' %}
                    <iframe frameborder=0 src='{{ url_for("main.example_search", kind="yyets", q="http://www.yyets.com/rss/feed/?area=%E7%BE%8E%E5%9B%BD") }}'></iframe>
                    {% else %}
                    <iframe frameborder=0 src='{{ url_for("main.example_advanced_search", kind=mod.name) }}'></iframe>
                    {% endif %}
                </div>
                <div class=snapshot-glass></div>
                <div class=carousel-caption>
                    <h1>{{ mod.display_name }}</h1>
                    <p class=lead>{{ mod.description }}</p>
                    {% if not is_user %}
                    <p>
                        <form action='/login' method=post>
                            <input type=hidden name=openid value='https://www.google.com/accounts/o8/id'>
                            <input type=submit class='btn btn-lg btn-primary' value="使用Google账户登录">
                        </form>
                    </p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <a class='left carousel-control' href=#mod-carousel data-slide=prev><span class='glyphicon glyphicon-chevron-left'></span></a>
    <a class='right carousel-control' href=#mod-carousel data-slide=next><span class='glyphicon glyphicon-chevron-right'></span></a>
</div>
<div class=container>
    {% include 'footer.html' %}
</div>
{% endblock %}
{% block head %}
{{ super() }}
<link rel=stylesheet href='//cdnjs.cloudflare.com/ajax/libs/intro.js/0.5.0/introjs.min.css'>
<style>
.carousel {
    height: 500px;
    margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
}
.carousel-caption h1:first-letter {
    text-transform: uppercase;
}
/* Declare heights because of positioning of img element */
.carousel .item {
    height: 500px;
    background-color: #777;
}
.carousel .snapshot {
    width: 100%;
    height: 500px;
    overflow: hidden;
}
.carousel .snapshot-glass {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #777;
    opacity: 0.7;
}
.snapshot > iframe {
    width: 100%;
    height: 100%;
}
</style>
{% endblock %}
