{% import 'macros.html' as macros with context %}
{% extends 'base.html' %}
{% block body %}
{% include 'nav.html' %}
<div id=mod-carousel class='carousel slide' data-ride=carousel>
    <ol class=carousel-indicators>
        {% for mod in mods %}
        <li data-target=#mod-carousel data-slide-to={{ loop.index0 }}{% if loop.first %} class=active{% endif %}></li>
        {% endfor %}
    </ol>
    <div class=carousel-inner>
        {% for mod in mods %}
        <div class="item{% if loop.first %} active{% endif %}">
            <div class=container>
                <div class=snapshot>
                    {% if mod.name == 'pixiv' %}
                    <iframe frameborder=0 src='{{ url_for("main.example_search", kind="pixiv", method="ranking", mode="daily", limit=10) }}'></iframe>
                    {% elif mod.name == 'tora' %}
                    <iframe frameborder=0 src='{{ url_for("main.example_search", kind="tora", q="tony") }}'></iframe>
                    {% elif mod.name == 'yyets' %}
                    <iframe frameborder=0 src='{{ url_for("main.example_search", kind="yyets", q="http://www.yyets.com/rss/feed/?area=%E7%BE%8E%E5%9B%BD") }}'></iframe>
                    {% else %}
                    <iframe frameborder=0 src='{{ url_for("main.example_advanced_search", kind=mod.name) }}'></iframe>
                    {% endif %}
                </div>
                <div class=snapshot-glass></div>
                <div class=carousel-caption>
                    <h1>{{ mod.display_name }}</h1>
                    <p class=lead>{{ mod.description }}</p>
                    {% if not is_user %}
                    <p>
                        <form action='/login' method=post>
                            <input type=hidden name=openid value='https://www.google.com/accounts/o8/id'>
                            <input type=submit class='btn btn-lg btn-primary' value="使用Google账户登录">
                        </form>
                    </p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <a class='left carousel-control' href=#mod-carousel data-slide=prev><span class='glyphicon glyphicon-chevron-left'></span></a>
    <a class='right carousel-control' href=#mod-carousel data-slide=next><span class='glyphicon glyphicon-chevron-right'></span></a>
</div>
<div class=container>
    <div class='row featurette'>
        <div class='col-xs-12 col-sm-6'>
            <h2 class=featurette-heading>定义查询</h2>
            <p class=lead>点击导航条上的<span class=text-primary>下拉框</span>选择感兴趣的模块, 点击<span class=text-primary>扳手按钮</span>进入高级查询, 定义查询条件. 点击<span class=text-primary>问号</span>获取对应模块的帮助.</p>
        </div>
        <div class='col-xs-12 col-sm-6'>
            <div id=use-step-0 class=img-thumbnail>
                <div class=snapshot>
                    <iframe frameborder=0 src='{{ url_for("main.example_advanced_search", kind="pixiv", method="ranking") }}'></iframe>
                </div>
                <div class=snapshot-glass></div>
            </div>
        </div>
    </div>
    <hr class=featurette-divider>
    <div class='row featurette'>
        <div class='col-xs-12 col-sm-5'>
            <div id=use-step-1 class=img-thumbnail>
                <div class=snapshot>
                    <iframe frameborder=0 src='{{ url_for("main.example_watching") }}'></iframe>
                </div>
                <div class=snapshot-glass></div>
            </div>
        </div>
        <div class='col-xs-12 col-sm-6 col-sm-offset-1'>
            <h2 class=featurette-heading>订阅查询</h2>
            <p class=lead><span class=text-warning>登录后</span>, 点击导航条上的<span class=text-primary>订阅</span>按钮订阅该查询. 在<span class=text-primary>我的查询</span>页面管理查询列表.</p>
        </div>
    </div>
    <hr class=featurette-divider>
    <div class='row featurette'>
        <div class='col-xs-12 col-sm-7'>
            <h2 class=featurette-heading>更新通知</h2>
            <p class=lead>查询的更新通过邮件推送, 可以在<span class=text-primary>我的通知</span>的<span class=text-primary>设置</span>里修改邮箱. 在<span class=text-primary>我的通知</span>页面查看通知列表.</p>
        </div>
        <div class='col-xs-12 col-sm-5'>
            <div id=use-step-2 class=img-thumbnail>
                <div class=snapshot>
                    <iframe frameborder=0 src='{{ url_for("main.example_all_notices") }}'></iframe>
                </div>
                <div class=snapshot-glass></div>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
</div>
{% endblock %}
{% block head %}
{{ super() }}
<link rel=stylesheet href='//cdnjs.cloudflare.com/ajax/libs/intro.js/0.5.0/introjs.min.css'>
<style>
.carousel {
    height: 500px;
    margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
}
.carousel-caption h1:first-letter {
    text-transform: uppercase;
}
/* Declare heights because of positioning of img element */
.carousel .item {
    height: 500px;
    background-color: #777;
}
.carousel .snapshot {
    width: 100%;
    height: 500px;
    overflow: hidden;
}
.carousel .snapshot-glass {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #777;
    opacity: 0.7;
}
.featurette .snapshot {
    width: 100%;
    overflow: hidden;
}
.snapshot > iframe {
    width: 100%;
    height: 100%;
}
.featurette .snapshot-glass {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.3;
}
.featurette .img-thumbnail {
    position: relative;
    width: 100%;
}
.featurette-divider {
    margin: 30px 0;
}
.featurette-heading {
    line-height: 2;
}
#use-step-0 .snapshot {
    height: 420px;
}
#use-step-1 .snapshot, #use-step-2 .snapshot {
    height: 300px;
}
@media (min-width: 768px) {
    .featurette-divider {
        margin: 100px 0 30px 0;
    }
    .featurette-heading {
        font-size: 42px;
    }
    #use-step-1 {
        margin-top: -220px;
    }
    #use-step-1 .snapshot {
        height: 500px;
    }
    #use-step-2 {
        margin-top: -130px;
    }
    #use-step-2 .snapshot {
        height: 350px;
    }
}
</style>
{% endblock %}
