{% extends 'base.html' %}
{% block body %}
{% include 'nav.html' %}
<div id=mod-carousel class='carousel slide' data-ride=carousel>
    <ol class=carousel-indicators>
        <li data-target=#mod-carousel data-slide-to=0 class=active></li>
        <li data-target=#mod-carousel data-slide-to=1></li>
        <li data-target=#mod-carousel data-slide-to=2></li>
    </ol>
    <div class=carousel-inner>
        {% for mod in mods %}
        <div class="item{% if loop.first %} active{% endif %}">
            <div class=container>
                <iframe class=snapshot src='{{ url_for("main.advanced_search", kind=mod.name) }}'></iframe>
                <div class=snapshot-glass></div>
                <div class=carousel-caption>
                    <h1>{{ mod.display_name }}</h1>
                    <p>{{ mod.description }}</p>
                    {% if not is_user %}
                    <p>
                        <form action='/login' method=post>
                            <input type=hidden name=openid value='https://www.google.com/accounts/o8/id'>
                            <input type=submit class='btn btn-lg btn-primary' value="使用Google账户登录">
                        </form>
                    </p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <a class='left carousel-control' href=#mod-carousel data-slide=prev><span class='glyphicon glyphicon-chevron-left'></span></a>
    <a class='right carousel-control' href=#mod-carousel data-slide=next><span class='glyphicon glyphicon-chevron-right'></span></a>
</div>

<style>
/* Carousel base class */
.carousel {
    height: 500px;
    margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
}
.carousel-caption h1:first-letter {
    text-transform: uppercase;
}
/* Declare heights because of positioning of img element */
.carousel .item {
    height: 500px;
    background-color: #777;
}
.carousel .snapshot {
    width: 100%;
    height: 500px;
}
.carousel .snapshot-glass {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
    background-color: #777;
    opacity: 0.7;
}
</style>

<div class=container>
    <div class=row>
        <div class='col-sm-12'>
            <p>用来做虎穴, pixiv, bilibili等站点的更新通知(邮件通知). 可以在"我的通知"的"设置"里修改邮箱. 点击导航条上的问号获取对应模块的帮助.</p>
        </div>
    </div>
</div>
{% endblock %}
