{% extends "nav.html" %}
{% block search_box_left %}
{% if is_user %}
{% if watching %}
<form action='{{ url_for(".unwatch") }}' method=post class="navbar-left" role="form">
    <div class="form-group">
        <input type=hidden name=user_id value='{{ session["openid"] }}'>
        <input type=hidden name=query_id value='{{ query.id }}'>
    </div>
    <button type="submit" class="btn btn-danger">退订</button>
</form>
{% else %}
<form action='{{ url_for(".watch") }}' method=post class="navbar-left" role="form">
    <div class="form-group">
        <input type=hidden name=user_id value='{{ session["openid"] }}'>
        <input type=hidden name=query_id value='{{ query.id }}'>
    </div>
    <button type="submit" class="btn btn-primary">订阅</button>
</form>
{% endif %}
{% endif %}
{% endblock %}
