{% extends "layout.html" %}
{% block foot %}
    {{ super() }}
    <script>
        {% if not snapshot and is_user %}
        $(function(){
            seajs.use('torabot/main/0.1.0/search-result{% if debug %}-debug{% endif %}', function(m){
                m.init({
                    current_user_id: {{ current_user_id }},
                    query_id: {{ query.id }},
                    watch_uri: '{{ url_for("main.watch") }}',
                    unwatch_uri: '{{ url_for("main.unwatch") }}',
                    email_id: {{ states[0].id }}
                });
            });
        });
        {% endif %}
    </script>
{% endblock %}
{% block navbar %}
{% include "listnav.html" %}
{% endblock %}
{% block content %}
    {% if not snapshot %}
        {% if not is_user %}
        <div class='alert alert-warning'>
            您尚未登录, 请<a href=# onclick='$("#login-form").submit()'>登录</a>后订阅该查询.
        </div>
        {% elif not is_user_activated %}
        <div class='alert alert-warning'>
            您的账户尚未激活, 点击<a href='{{ url_for("main.notice_conf") }}'>修改邮箱</a>重新发送激活邮件.
        </div>
        {% endif %}
    {% endif %}
    <p>本查询最近一次更新时间为: {{ momentjs(query.mtime).fromnow() }}</p>
    <hr>
    {{ content | safe }}
    {% if not snapshot %}
        {% include 'name_watch_dialog.html' %}
    {% endif %}
{% endblock %}
