{% macro pagination(page, room, total, uri) %}
    <ul class="pagination">
        {% if page > 0 %}
        <li><a href='{{ uri(page - 1) }}'>&laquo;</a></li>
        {% else %}
        <li class=disabled><span>&laquo;</span></li>
        {% endif %}
        {% set begin = max(0, page - 2) %}
        {% set end = min(begin + 5, (total + room - 1) // room) %}
        {% for i in range(begin, end) %}
        <li{% if i == page %} class=active{% endif %}><a href='{{ uri(i) }}'>{{ i + 1 }}</a></li>
        {% endfor %}
        {% if page + 1 < end %}
        <li><a href='{{ uri(page + 1) }}'>&raquo;</a></li>
        {% else %}
        <li class=disabled><span>&raquo;</span></li>
        {% endif %}
    </ul>
{% endmacro %}
