{% if query_text is defined %}
{% elif query is defined %}
{% set query_text = query.text %}
{% else %}
{% set query_text = '' %}
{% endif %}
{% if query_kind is defined %}
{% elif query is defined %}
{% set query_kind = query.kind %}
{% else %}
{% set query_kind = default_mod %}
{% endif %}
<div class="navbar navbar-masthead navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href='/'>torabot</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                {% if 'userid' in session %}
                <li{% if request.path.startswith('/watch') %} class=active{% endif %}><a href='{{ url_for("main.watching") }}'>我的订阅</a></li>
                <li{% if request.path.startswith('/notice') %} class=active{% endif %}><a href='{{ url_for("main.pending_notices") }}'>我的通知</a></li>
                {% endif %}
                <li{% if request.path.startswith('/about') %} class=active{% endif %}><a href='{{ url_for("main.about") }}'>关于本站</a></li>
            </ul>
            <div class='navbar-form navbar-right'>
                {% block search_box_left %}{% endblock %}
                {% include "search_box.html" %}
                {% block search_box_right %}{% endblock %}
                {% if 'userid' not in session %}
                <form class="navbar-left" action='/login' method=post>
                    <div class="form-group">
                        <input type=hidden name=openid value='https://www.google.com/accounts/o8/id'>
                    </div>
                    <input type=submit class='btn btn-success' value="登录">
                </form>
                {% else %}
                <form class="navbar-left" action='/logout' method=post>
                    <div class="form-group"></div>
                    <input type=submit class='btn btn-success' value="登出">
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>
