{% if not snapshot %}
{% if query_text is defined %}
{% elif query is defined %}
{% set query_text = query.text %}
{% else %}
{% set query_text = '' %}
{% endif %}
{% if query_kind is defined %}
{% elif query is defined %}
{% set query_kind = query.kind %}
{% else %}
{% set query_kind = default_mod %}
{% endif %}
<div class="navbar navbar-masthead navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class=navbar-brand href='/'><strong>torabot</strong></a>
        </div>
        <div class="collapse navbar-collapse">
            <div class=navbar-right>
                {% block search_box_left %}{% endblock %}
                <div class='navbar-form navbar-left'>
                    {% include "search_box.html" %}
                </div>
                {% block search_box_right %}{% endblock %}
                {% if not is_user %}
                <form id=login-form class=navbar-left action='{{ url_for("main.login") }}' method=post>
                    <input type=hidden name=openid value='https://www.google.com/accounts/o8/id'>
                </form>
                <input type=submit class='btn btn-success navbar-btn navbar-left' onclick='$("#login-form").submit()' value='登录'>
                {% else %}
                <ul class='nav navbar-nav navbar-left'>
                    <li>
                        <a href=# class=dropdown-toggle data-toggle=dropdown> {{ current_username }} <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li{% if request.path.startswith('/watch') %} class=active{% endif %}><a href='{{ url_for("main.watching") }}'>我的订阅</a></li>
                            <li{% if request.path.startswith('/notices') %} class=active{% endif %}><a href='{{ url_for("main.pending_notices") }}'>我的通知</a></li>
                            <li{% if request.path.startswith('/notice/config') %} class=active{% endif %}><a href='{{ url_for("main.notice_conf") }}'>修改邮箱</a></li>

                            {% if is_admin %}
                            <li class="divider"></li>
                            <li class=dropdown-header>网站管理</li>
                            <li{% if request.path.startswith('/admin/dashboard') %} class=active{% endif %}><a href='{{ url_for("admin.dashboard") }}'>dashboard</a></li>
                            <li{% if request.path.startswith('/admin/bulletin') %} class=active{% endif %}><a href='{{ url_for("admin.bulletin") }}'>公告版</a></li>
                            <li class=divider></li>
                            <li class=dropdown-header>数据库管理</li>
                            <li{% if request.path.startswith('/admin/users') %} class=active{% endif %}><a href='{{ url_for("admin.users") }}'>用户</a></li>
                            <li{% if request.path == '/admin/queries' %} class=active{% endif %}><a href='{{ url_for("admin.queries") }}'>查询</a></li>
                            <li{% if request.path == '/admin/queries/active' %} class=active{% endif %}><a href='{{ url_for("admin.active_queries") }}'>活跃查询</a></li>
                            {% endif %}

                            <li class="divider"></li>
                            <li><form id=logout-form method=post action='{{ url_for("main.logout") }}'></form><a href=# onclick='$("#logout-form").submit()'>登出</a></li>
                        </ul>
                    </li>
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endif %}
