{% extends "layout.html" %}
{% block content %}
<ul class="nav nav-tabs">
    <li{% if tab == 'pending' %} class=active{% endif %}><a href='{{ url_for(".pending_notices") }}'>最新</a></li>
    <li{% if tab == 'all' %} class=active{% endif %}><a href='{{ url_for(".all_notices") }}'>全部</a></li>
    <li><a href='{{ url_for(".notice_conf") }}'>设置</a></li>
</ul>
<table class='table table-condensed table-striped vspace-top-small'>
    <thead>
        <tr>
            <td class=col-sm-2>时间</td>
            <td class=col-sm-1>状态</td>
            <td class=col-sm-9>内容</td>
        </tr>
    </thead>
    <tbody>
    {% for notice in notices %}
    <tr>
        <td>{{ momentjs(notice.ctime).calendar() }}</td>
        <td>{{ notice.status | safe }}</td>
        <td>{{ notice.body | safe }}</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<ul class="pagination">
    {% if page > 0 %}
    <li><a href='{{ url_for("." + view, page=page - 1) }}'>&laquo;</a></li>
    {% else %}
    <li class=disabled><span>&laquo;</span></li>
    {% endif %}
    {% set begin = max(0, page - 2) %}
    {% set end = min(begin + 5, (total + room - 1) // room) %}
    {% for i in range(begin, end) %}
    <li{% if i == page %} class=active{% endif %}><a href='{{ url_for("." + view, page=i) }}'>{{ i + 1 }}</a></li>
    {% endfor %}
    {% if page + 1 < end %}
    <li><a href='{{ url_for("." + view, page=page + 1) }}'>&raquo;</a></li>
    {% else %}
    <li class=disabled><span>&raquo;</span></li>
    {% endif %}
</ul>
{% endblock %}
