{% extends "layout.html" %}
{% block title %}重置密码{% endblock %}
{% block content %}
    <div class='page-header col-sm-12'>
        <div class=row>
            <div class='col-sm-offset-2 col-sm-8'>
                <h1>重置密码</h1>
            </div>
        </div>
    </div>
    <form method=post class="form-horizontal" role="form">
        <div class="form-group">
            <label for="email" class="col-sm-2 control-label">邮箱</label>
            <div class="col-sm-4">
                <input id=email name=email type=email class=form-control>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success">重置密码</button>
                <a class='btn btn-default' style='margin-left:.5em' href="{{ url_for('.index') }}">返回主页</a>
            </div>
        </div>
    </form>
{% endblock %}
