<form name=search class=navbar-left role=search method=GET>
    <div class="input-group" style="width: 400px;">
        <span class="intro-step input-group-btn">
            <button name=help type=button class='intro-help btn btn-default' title='帮助'>?</button>
        </span>
        <span class='intro-select-mod input-group-btn'>
            <select class="mod-select form-control" name=kind data-live-search=true data-container=body>
                {% for m in mods %}
                <option
                    value='{{ m.name }}'
                    data-has-normal-search={{ 1 if m.has_normal_search else 0 }}
                    data-has-advanced-search={{ 1 if m.has_advanced_search else 0 }}
                    data-allow-empty-query={{ 1 if m.allow_empty_query else 0 }}
                    data-normal-search-prompt='{{ m.normal_search_prompt }}'
                    {% if query_kind == m.name %} selected{% endif %}
                >{{ m.display_name }}</option>
                {% endfor %}
            </select>
        </span>
        <span class='intro-query input-group-btn'>
            <input type="text" class=form-control name=q value='{{ query_text }}'>
        </span>
        <span name=buttons class="input-group-btn">
            <button name=search type="submit" class='intro-search btn btn-default' title='搜索'>
                <span class='glyphicon glyphicon-search'></span>
            </button>
            <button name=advanced type=button class="intro-advanced-search btn btn-default" title='高级搜索'>
                <span class='glyphicon glyphicon-wrench'></span>
            </button>
        </span>
    </div>
</form>
