{% extends "layout.html" %}
{% block title %}设置密码{% endblock %}
{% block content %}
    <div class='page-header col-sm-12'>
        <div class=row>
            <div class='col-sm-offset-2 col-sm-8'>
                <h1>设置密码</h1>
            </div>
        </div>
    </div>
    <form method=post class="form-horizontal" role="form">
        <div class="form-group">
            <label for="password" class="col-sm-2 control-label">新密码</label>
            <div class="col-sm-4">
                <input name=password type=password class=form-control>
            </div>
        </div>
        <div class="form-group">
            <label for="confirm" class="col-sm-2 control-label">确认密码</label>
            <div class="col-sm-4">
                <input name=confirm type=password class=form-control placeholder='请再输入一遍'>
            </div>
        </div>
        <input type=hidden name=email value={{ email }}>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success">确定</button>
                <a class='btn btn-default' style='margin-left:.5em' href="{{ url_for('.index') }}">返回主页</a>
            </div>
        </div>
    </form>
{% endblock %}
