{% import 'macros.html' as macros with context %}
{% extends "layout.html" %}
{% block head %}
    {{ super() }}
    {{ macros.xeditable_css() }}
{% endblock %}
{% block foot %}
    {{ super() }}
    {{ macros.xeditable_js() }}
    <script>
        $(function() {
            $('#watch-table').find('.editable-field').popup_text_edit();
        });
    </script>
{% endblock %}
{% block content %}
    {% if watches %}
    {% set rest = user.maxwatch - total %}
    {% set threshold = config['TORABOT_REST_WATCH_HIGHLIGHT_THRESHOLD'] %}
    {% set rest_tag = "strong" if rest < threshold else "span" %}
    <p>已用订阅查询{{ total }}个, 还可订阅<{{ rest_tag }}{% if rest < threshold %} class=text-danger{% endif %}>{{ rest }}</{{ rest_tag }}>个. {% if current_user.has_not_activated_email %}<span class=text-warning>您有邮箱尚未激活, 未激活的邮箱不会收到更新通知. <a href='{{ url_for("main.notice_conf") }}'>点我</a>立即激活.</span>{% endif %}</p>
    <table id=watch-table class='table table-condensed table-striped fixed-table'>
        <thead>
            <tr>
                <td class='hidden-xs col-sm-2'>订阅时间</td>
                <td class='col-xs-3 col-sm-1'>模块</td>
                <td class='col-xs-2 col-sm-2'>订阅邮箱</td>
                <td class='col-xs-5 col-sm-5'>订阅名称/查询内容(点击重命名)</td>
                <td class='col-xs-4 col-sm-2'></td>
            </tr>
        </thead>
        <tbody>
        {% for watch in watches %}
        <tr>
            <td class=hidden-xs>{{ momentjs(watch.ctime).calendar() }}</td>
            <td><span class='label label-primary'>{{ mod(watch.query_kind).display_name }}</span></td>
            <td><span class='label label-{% if watch.email_activated %}info{% else %}danger{% endif %}' title='{{ watch.email_text }}{% if not watch.email_activated %} (未激活){% endif %}'>{{ watch.email_label if watch.email_label else watch.email_text }}</span></td>
            <td><a class=editable-field data-kind=text title='重命名' href=# data-field=name data-args='{"user_id": {{ watch.user_id }}, "email_id": {{ watch.email_id }}, "query_id": {{ watch.query_id }}}' data-uri='{{ url_for(".rename_watch") }}'>{{ watch.name if watch.name else watch.query_text }}</a></td>
            <td>
                <div class=pull-right>
                    <a class='btn btn-xs btn-default' href='{{ url_for(".search", kind=watch.query_kind, q=watch.query_text) }}'>查看</a>
                    <form style='display:inline-block' action='{{ url_for(".unwatch") }}' method=post>
                        <input type=hidden name=user_id value='{{ watch.user_id }}'>
                        <input type=hidden name=email_id value='{{ watch.email_id }}'>
                        <input type=hidden name=query_id value='{{ watch.query_id }}'>
                        <button type=submit class='btn btn-xs btn-danger'>退订</button>
                    </form>
                </div>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class=text-center>
        {{ macros.pagination(page, room, total, uri) }}
    </div>
    {% else %}
    <p class='text-center lead vspace-top-large vspace-bottom-large'>您还没有订阅任何条目, <a href='{{ url_for("main.intro") }}'>点我</a>学习如何<del>调教</del>使用torabot.</p>
    {% endif %}
{% endblock %}
