<table class='table table-condensed table-striped'>
    <thead>
        <tr>
            <td class=col-sm-5>名称</td>
            <td class=col-sm-3>作者</td>
            <td class=col-sm-3>社团</td>
            <td class=col-sm-1>状态</td>
        </tr>
    </thead>
    <tbody>
    {% for art in query.result.arts %}
    <tr>
        <td><a href="{{ art.uri }}">{{ art.title }}</a></td>
        <td>
            {% if isinstance(art.author, str) %}
            <a href='{{ url_for('.search', torabot_query_kind=query.kind, torabot_query_text=art.author) }}'>{{ art.author }}</a>
            {% else %}
            {% for a in art.author %}
            <a href='{{ url_for('.search', torabot_query_kind=query.kind, torabot_query_text=a) }}'>{{ a }}</a>
            {% endfor %}
            {% endif %}
        </td>
        <td>
            {% if isinstance(art.company, str) %}
            <a href='{{ url_for('.search', torabot_query_kind=query.kind, torabot_query_text=art.company) }}'>{{ art.company }}</a>
            {% else %}
            {% for a in art.company %}
            <a href='{{ url_for('.search', torabot_query_kind=query.kind, torabot_query_text=c) }}'>{{ c }}</a>
            {% endfor %}
            {% endif %}
        </td>
        <td>{{ '预售' if art.status == 'reserve' else '' }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<p>以上是{{ query.result.total }}个搜索结果中的{{ len(query.result.arts) }}个, 完整列表参见<a href='{{ query.result.uri }}'>这里</a>.</p>
