<table class='table table-condensed table-striped'>
    <thead>
        <tr>
            <td class=col-sm-6>名称</td>
            <td class=col-sm-2>作者</td>
            <td class=col-sm-2>社团</td>
            <td class=col-sm-2>状态</td>
        </tr>
    </thead>
    <tbody>
    {% for art in result.arts %}
    <tr>
        <td><a href="{{ art.uri }}">{{ art.title }}</a></td>
        <td>{{ art.author }}</td>
        <td>{{ art.company }}</td>
        <td>{{ '预售' if art.status == 'reserve' else '' }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<p>以上是{{ result.total }}个搜索结果中的{{ len(result.arts) }}个, 完整列表参见<a href='{{ result.uri }}'>这里</a>.</p>
