<table class=table>
    <thead>
        <tr>
            <td class=col-sm-2>类型</td>
            <td class=col-sm-8>名称</td>
            <td class=col-sm-2>投稿时间</td>
        </tr>
    </thead>
    <tbody>
        {% for post in query.result.posts %}
        <tr>
            <td>{{ post.kind }}</td>
            <td><a href='{{ post.uri }}'>{{ post.title }}</a></td>
            <td>{{ post.ctime }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<p>以上是全部搜索结果中的{{ len(query.result.posts) }}个, 完整列表参见<a href='http://space.bilibili.tv/{{ query.result.query.user_id }}' target=_blank>这里</a>.</p>
