<!DOCTYPE html>
<html lang='zh-CN'>
    <head>
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <link rel='stylesheet' href='//todc.github.io/todc-bootstrap/dist/css/bootstrap.min.css'>
        <link rel='stylesheet' href='{{ url_for('.static', filename='style.css') }}'>
        <title>{% block title %}torabot{% endblock %}</title>
    </head>
    <body style='padding-top: 70px;'>
        {% block body %}{% endblock %}
        <script src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
        <script src='//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js'></script>
    </body>
</html>
