{% extends "layout.html" %}
{% block navbar %}
{% include "listnav.html" %}
{% endblock %}
{% block content %}
<table class='table table-condensed table-striped'>
    <thead>
        <tr>
            <td class=col-sm-5>名称</td>
            <td class=col-sm-2>作者</td>
            <td class=col-sm-2>生产商</td>
            <td class=col-sm-2>发售日</td>
            <td class=col-sm-1>状态</td>
        </tr>
    </thead>
    <tbody>
    {% for art in query.arts %}
    <tr>
        <td><a href="{{ art.uri }}">{{ art.title }}</a></td>
        <td>{{ art.author }}</td>
        <td>{{ art.company }}</td>
        <td>{{ art.ptime.strftime('%Y-%m-%d') }}</td>
        <td>{{ '预售' if art.status == 'reserve' else '' }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% if query.total != len(query.arts) %}
<p>以上是{{ query.total }}个搜索结果中的{{ len(query.arts) }}个, 完整列表参见<a href='{{ query.uri }}'>这里</a>.</p>
{% endif %}
{% endblock %}
