<form name=search class="navbar-left" role="search">
    <div class="form-group"></div>
    <div class="form-group">
        <div class="input-group" style="width: 320px;">
            <span class="input-group-btn">
                <button name=help type=button class="btn btn-default" title='帮助'>?</button>
            </span>
            <span class="input-group-btn">
                <select class="form-control" name=torabot_query_kind style='margin-right: -1px; width: 80px;'>
                    {% for m in mods %}
                    <option
                        value='{{ m.name }}'
                        data-has-advanced-search='{{ 1 if m.has_advanced_search else 0 }}'
                        {% if query_kind == m.name %} selected{% endif %}
                    >{{ m.display_name }}</option>
                    {% endfor %}
                </select>
            </span>
            <input type="text" class="form-control" name=torabot_query_text value='{{ query_text }}'>
            <span name=buttons class="input-group-btn">
                <button name=search type="submit" class="btn btn-default" title='搜索'>
                    <span class='glyphicon glyphicon-search'></span>
                </button>
                <button name=advanced type=button class="btn btn-default" title='高级搜索'>
                    <span class='glyphicon glyphicon-wrench'></span>
                </button>
            </span>
        </div>
    </div>
</form>
