{% extends "layout.html" %}
{% block content %}
{% if watches %}
<table class='table table-condensed table-striped'>
    <thead>
        <tr>
            <td class=col-sm-2>订阅时间</td>
            <td class=col-sm-7>订阅名称/查询内容(点击重命名)</td>
            <td class=col-sm-2>更新时间</td>
            <td class=col-sm-1></td>
        </tr>
    </thead>
    <tbody>
    {% for watch in watches %}
    <tr>
        <td>{{ momentjs(watch.ctime).calendar() }}</td>
        <td><a title='点击这里重命名该订阅' href='{{ url_for(".rename_watch", user_id=watch.user_id, query_id=watch.query_id, name=watch.name) }}'>{{ watch.name if watch.name else watch.query_text }}</a></td>
        <td>{{ momentjs(watch.query_mtime).fromnow() }}</td>
        <td>
            <a class='btn btn-xs btn-default' href='{{ url_for(".search", kind=watch.query_kind, q=watch.query_text) }}'>查看</a>
            <form style='display:inline-block' action='{{ url_for(".unwatch") }}' method=post>
                <input type=hidden name=user_id value='{{ watch.user_id }}'>
                <input type=hidden name=query_id value='{{ watch.query_id }}'>
                <button type=submit class='btn btn-xs btn-default'>退订</button>
            </form>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}
<p>已用订阅查询{{ len(watches) }}个, 还可订阅{{ user.maxwatch - len(watches) }}个.</p>
{% endblock %}
