{% from 'macros.html' import pagination with context %}
{% extends "layout.html" %}
{% block content %}
<style>
.user-table { table-layout:fixed; }
.user-table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.user-field { cursor: pointer; }
</style>
<table class='user-table table table-hover'>
    <thead>
        <tr>
            <td class=col-sm-1>编号</td>
            <td class=col-sm-2>昵称</td>
            <td class=col-sm-4>email</td>
            <td class=col-sm-4>openid</td>
            <td class=col-sm-1>创建时间</td>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.openid }}</td>
            <td>{{ momentjs(user.ctime).fromnow() }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class=text-center>
    {{ pagination(page, room, total, uri) }}
</div>
<script>
    $(function() {
        $('.user-field').click(function() {
            $(location).attr('href', $(this).data('uri'));
        });
    });
</script>
{% endblock %}
