body {
    padding-top: 50px;
}
body.intro {
    padding-top: 0;
}

.intro .navbar {
    margin-bottom: 0; !important
}

.vspace-top-small {
    margin-top: 13px;
}

.vspace-top-middle {
    margin-top: 29px;
}

.control-text {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 7px;
}

span.w {
    display: inline-block;
}
.w-d5em {
    width: 0.5em;
    display: inline-block;
}
.w-1em {
    width: 1em;
    display: inline-block;
}
.w-2em {
    width: 2em;
    display: inline-block;
}
.w-3em {
    width: 3em;
    display: inline-block;
}
.w-6em {
    width: 6em;
    display: inline-block;
}

.inline-block {
    display: inline-block;
}

.fixed-table {
    table-layout:fixed;
}
.fixed-table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
