body {
    padding-top: 50px;
    /* from v2ex */
    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti !important;
}
body.intro {
    padding-top: 0;
}
body.snapshot {
    overflow: hidden;
    padding-top: 0;
}

.intro .navbar {
    margin-bottom: 0; !important
}

.vspace-top-small {
    margin-top: 13px;
}

.vspace-top-middle {
    margin-top: 29px;
}

.vspace-top-large {
    margin-top: 59px; !important
}

.vspace-bottom-large {
    margin-bottom: 59px; !important
}

.control-text {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 7px;
}

span.w {
    display: inline-block;
}
.w-d5em {
    width: 0.5em;
    display: inline-block;
}
.w-1em {
    width: 1em;
    display: inline-block;
}
.w-2em {
    width: 2em;
    display: inline-block;
}
.w-3em {
    width: 3em;
    display: inline-block;
}
.w-6em {
    width: 6em;
    display: inline-block;
}

.inline-block {
    display: inline-block; !important
}

.fixed-table {
    table-layout:fixed;
}
.fixed-table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.carousel-control.left, .carousel-control.right {
    background: none; !important
}

.bulletin {
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}
.bulletin .close {
    position: inherit;
    margin-right: 1em;
}

.email-switch {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

#watch-form .dropdown-menu {
    width: 300px;
}
#watch-form .dropdown-menu span[name="label"] {
    display: block;
    float: left;
    width: 170px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.intro-tooltip {
    min-width: 250px; !important
}
