{% macro format_entry_content(entry) -%}
<div class=feed-entry>
    <h1 class=header><a href='{{ entry.link }}' target=_blank>{{ entry.title }}</a></h1>
    {% if not entry.best_content_empty %}
    <hr>
    <div class=body>
        <div class='well norm'>
            {% if entry.is_html %}
            {{ entry.best_content.value|safe }}
            {% else %}
            <pre>{{ entry.best_content.value }}</pre>
            {% endif %}
        </div>
    </div>
    {% endif %}
</div>
{%- endmacro %}
