{% extends "nav.html" %}
{% block search_box_left %}
{% if 'userid' in session %}
{% if sub %}
<form action='{{ url_for("unsubscribe") }}' method=post class="navbar-left" role="form">
    <div class="form-group">
        <input type=hidden name=user_id value='{{ session["userid"] }}'>
        <input type=hidden name=query_text value='{{ query }}'>
    </div>
    <button type="submit" class="btn btn-danger">unsubscribe</button>
</form>
{% else %}
<form action='{{ url_for("subscribe") }}' method=post class="navbar-left" role="form">
    <div class="form-group">
        <input type=hidden name=user_id value='{{ session["userid"] }}'>
        <input type=hidden name=query_text value='{{ query }}'>
    </div>
    <button type="submit" class="btn btn-primary">subsribe</button>
</form>
{% endif %}
{% endif %}
{% endblock %}
