{% extends "layout.html" %}
{% block navbar %}
{% include "listnav.html" %}
{% endblock %}
{% block content %}
<table class='table table-condensed table-striped'>
    <thead>
        <tr>
            <td class=col-sm-5>名称</td>
            <td class=col-sm-2>作者</td>
            <td class=col-sm-2>生产商</td>
            <td class=col-sm-2>发售日</td>
            <td class=col-sm-1>状态</td>
        </tr>
    </thead>
    <tbody>
    {% for art in arts %}
    <tr>
        <td><a href="{{ art.uri }}">{{ art.title }}</a></td>
        <td>{{ art.author }}</td>
        <td>{{ art.comp }}</td>
        <td>{{ art.ptime.strftime('%Y-%m-%d') }}</td>
        <td>{{ '预售' if art.reserve else '' }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
