body {
    padding-top: 50px;
    /* from v2ex */
    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti !important;
}
body.intro {
    padding-top: 0;
}
body.snapshot {
    overflow: hidden;
    padding-top: 0;
    filter: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%3E%3Cdefs%3E%3Cfilter%20id%3D%22blur%22%3E%3CfeGaussianBlur%20stdDeviation%3D%225%22%2F%3E%3C%2Ffilter%3E%3C%2Fdefs%3E%3C%2Fsvg%3E#blur");
    -webkit-filter: blur(1px);
    filter: blur(1px);
}
body.snapshot::after {
    content: ' ';
    display: block;
    width: 200%;
    height: 200%;
    position: absolute;
    top: -50%;
    left: -50%;
}

.intro .navbar {
    margin-bottom: 0; !important
}

.vspace-top-small {
    margin-top: 13px;
}

.vspace-top-middle {
    margin-top: 29px;
}

.vspace-top-large {
    margin-top: 59px; !important
}

.vspace-bottom-large {
    margin-bottom: 59px; !important
}

.control-text {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 7px;
}

span.w {
    display: inline-block;
}
.w-d5em {
    width: 0.5em;
    display: inline-block;
}
.w-1em {
    width: 1em;
    display: inline-block;
}
.w-2em {
    width: 2em;
    display: inline-block;
}
.w-3em {
    width: 3em;
    display: inline-block;
}
.w-6em {
    width: 6em;
    display: inline-block;
}

.inline-block {
    display: inline-block; !important
}

.fixed-table {
    table-layout:fixed;
}
.fixed-table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.carousel-control.left, .carousel-control.right {
    background: none; !important
}

.bulletin {
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}
.bulletin .close {
    position: inherit;
    margin-right: 1em;
}

.email-switch {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

#watch-form .dropdown-menu {
    width: 300px;
}
#watch-form .dropdown-menu span[name="label"] {
    display: block;
    float: left;
    width: 170px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.intro-tooltip {
    min-width: 250px; !important
}

.not-important {
    opacity: 0.2;
    transition: opacity 0.5s ease-in;
}
.not-important:hover {
    opacity: 1.0;
}

.torabot ::-moz-selection {
    text-shadow: none;
    background: rgba(65,131,196,0.4);
}
.torabot ::selection {
    text-shadow: none;
    background: rgba(65,131,196,0.4);
}

.torabot .ddd {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}
