{% extends 'search_form.html' %}
{% block content %}
<div class=intro-pixiv-ranking-form>
<input type=hidden name=method value=ranking>
<div class=form-group>
    <label class='control-label col-sm-2'>内容</label>
    <div class=col-sm-10>
        <div class='btn-group pixiv-content' data-toggle=buttons>
            <label class='btn btn-primary active'>
                <input type=radio value=normal checked>全年龄
            </label>
            <label class='btn btn-primary'>
                <input type=radio value=r18>R18
            </label>
        </div>
    </div>
</div>
<div class=form-group>
    <label class='control-label col-sm-2'>周期</label>
    <div class=col-sm-10>
        <div class='btn-group pixiv-modes' data-toggle=buttons>
            {% for key in modemap %}
            <label style='display:none' class='btn btn-primary {{ 'pixiv-r18' if 'R18' in modemap[key] else 'pixiv-normal'}}{% if key == 'daily'%} active{% endif %}'>
                <input type=radio name=mode value={{ key }}{% if key == 'daily' %} checked{% endif %}>{{ modemap[key] }}
            </label>
            {% endfor %}
        </div>
    </div>
</div>
<div class=form-group>
    <label class='control-label col-sm-2'>限制排名前</label>
    <div class=col-sm-1>
        <input type=text name=limit value=10 class=form-control>
    </div>
</div>
</div>
<script>
$(function(){
    var $normal = $('.pixiv-normal');
    var $r18 = $('.pixiv-r18');
    var $modes = $('.pixiv-modes');
    $('.pixiv-content').click(function(){
        if ($(event.target).find('input').attr('value') == 'r18') {
            $normal.remove();
            $r18.appendTo($modes);
            $r18.show();
            $r18.eq(0).click();
        } else {
            $r18.remove();
            $normal.appendTo($modes);
            $normal.show();
            $normal.eq(0).click();
        }
    }).find('.active').click();
});
</script>
{% endblock %}
